/* ProductCard Page*/

.col-4:hover,
#products .col-4:hover {
  cursor: pointer;
  transform: translateY(-5%);
}


.col-4 img {
  width: 95%;
  height: auto;
  box-shadow: 0px 10px 16px -7px rgba(207, 207, 207, 0.75);
}

.col-4 h4 {
  padding: 10px 0 5px;
}

.col-4 p {
  font-size: 1.0em;
  padding: 5px 0 3px;
}

.rating {
  color: #FF9529;
}

.product-link {
  text-decoration: none;
  cursor: pointer;
}

.title-product {
  color: #303030;
  text-align: center;
  margin: 70px auto 80px;
  position: relative;
  line-height: 60px;
}

.title-product::after {
  content: '';
  background: #b22222;
  width: 80px;
  height: 5px;
  border-radius: 5px;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.product-card-link {
  flex-basis: 25%;
  text-decoration: none;
  color: #000000;
}



@media (max-width: 1024px) {

  .product-card-link {
    flex-basis: 45%;
  }

  .col-4 img {
    margin-top: 20px;
  }

  .offer-desc {
    font-size: 0.8rem;
  }

  .offer-desc spam {
    font-size: 1.1rem;
  }

  .offer-desc spam:hover {
    font-size: 1.2rem;
  }

  .offer-detail h1 {
    font-size: 2.5rem;
    margin-top: 20px;
  }

  .offer-detail .offer-bio {
    font-size: 0.9rem;
    margin: 10px 180px 0 0;
  }

}

@media screen and (max-width: 780px) {

  .product-card-link {
    flex-basis: 100%;
  }

  .col-4 h4 {
    padding: 10px 0 5px;
  }

  .col-4 p {
    font-size: 0.95em;
    padding: 5px 0 3px;
  }

  .rating {
    font-size: 0.8rem;
  }


  /* Section 4 : Offer */

  .offer-desc {
    top: 160px;
    left: 17px;
    font-size: 0.6rem;
  }

  .offer-desc spam {
    font-size: 0.7rem;
  }

  .offer-desc spam:hover {
    font-size: 0.75rem;
  }

  .offer-detail {
    position: absolute;
    left: 13px;
    bottom: 20px;
  }

  .offer-detail h1 {
    font-size: 28px;
    margin-top: 20px;
  }

  .offer-detail .offer-bio {
    display: none;
  }

  .offer-img {
    width: 100%;
    border-radius: 0;
  }

  .buy-now-btn {
    margin-top: 3px;
    padding: 8px 12px;
    font-weight: bold;
    font-size: 0.5rem;
  }

}