
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-weight: normal;
  background-image: url("https://www.transparenttextures.com/patterns/cubes.png");
  --nav-load-time: 1s;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

hr.dotted {
  color: #303030;
  border: none;
  border-bottom-style: dotted;
  border-width: 10px;
  width: 7%;
  margin: 90px auto;
}


/* Section-1 : Title */



.container {
  max-width: 1300px;
  margin: auto;
  padding-left: 25px;
  padding-right: 25px;
  transition: all 0.5s ease;
}

.row {
  margin: 30px 50px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
}



.col-2 {
  flex-basis: 50%;
  min-width: 300px;

}

.col-2 img {
  max-width: 100%;
  height: auto;
  margin: 20px 0 20px;
  border-radius: 30px;
}

.col-2 h1 {
  display: inline-block;
  color: black;
  margin: 80px 50px 5px 0;
  font-size: 3.7rem;
  line-height: 60px;

}

.col-2 p {
  padding: 30px 70px 20px 0;
  color: #555555;
  font-size: 1rem;
  line-height: 22px;

}

/* button */

.sign-up {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  margin: 5px 10px 5px 0;
  display: inline-block;
  background: transparent;
  color: black;
  padding: 10px 15px;
  border: 2px solid;
  border-radius: 10px;
  outline: none;
  transition: all 0.5s ease;
}

.login {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  margin: 5px 10px ;
  display: inline-block;
  background: transparent;
  color: black;
  padding: 10px 15px;
  border: 2px solid;
  border-radius: 10px;
  outline: none;
  transition: all 0.5s ease;
}

.btn
  .sign-up:hover ,
  .login:hover {
  background-color: black;
  color: #fff;
  border: 2px solid black;
  outline: none;
  cursor: pointer;
}

/* Section-2 : Category */


.small-container {
  max-width: 1080px;
  padding-left: 25px;
  padding-right: 25px;
  margin: auto;
}

.col-3 {
  flex-basis: 30%;
  min-width: 250px;
}



.col-3 img {
  margin-top: 20px;
  width: 270px;
  height: 380px;
  border-radius: 30px;
  object-fit: cover;
}

/* section 3 : featured products */


.title-product {
  color: #303030;
  text-align: center;
  margin: 70px auto 80px;
  position: relative;
  line-height: 60px;
}

.title-product::after {
  content: '';
  background: #b22222;
  width: 80px;
  height: 5px;
  border-radius: 5px;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.col-4 {
  flex-basis: 25%;
  transition: transform 0.5s;
}

.col-4:hover {
  transform: translateY(-5px);
}

.col-4 img {
  width: 95%;
  height: auto;
}

.col-4 h4 {
  padding: 10px 0 5px;
}

.col-4 p {
  font-size: 1.0em;
  padding: 5px 0 3px;
}

.rating {
  color: #FF9529;
}

/* Section 4 : offer */

.offer {
  position: relative;
}
.offer-img {
  width: 100%;
  height: 100%;
  object-fit: scale-down;
  border-radius: 30px;
  font-size: 30px;
}

.offer-detail {
  position: absolute;
  bottom: 40px;
  left: 70px;
}

.offer-desc {
  position: absolute;
  left: 70px;
  top: 180px;
  color: #F0FFFF;
  font-size: 0.9rem;
  letter-spacing: 1.2px;
}

.offer-desc spam {
  font-family: 'Rubik Mono One', sans-serif;
  font-size: 1.2rem;
  transition: color 0.5s ease-out, font-size 1s ease-out;
}

.offer-desc spam:hover {
  color: black;
  font-size: 1.3rem;
}

.offer-detail h1 {
  font-family: 'Secular One', sans-serif;
  font-size: 3rem;
  color: #fff;
  letter-spacing: 1.5px;
  margin-top: 20px;
}

.offer-detail .offer-bio {
  color: #F5F5F5;
  letter-spacing: 1.2px;
  font-size: 1rem;
  margin: 10px 300px 0 0;
}



.buy-now-btn {
  margin-top: 20px;
  padding: 15px 20px;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  border: none;
  border-radius: 20px;
  background: black;
  color: #fff;
  transition: all 0.5s ease;
}

.buy-now-btn:hover {
  background: #fff;
  color: black;
  cursor: pointer;
}

.buy-now-btn:focus {
  outline: none;
}
/* Section 5 : Testimonials */



#testimonial .col-3 {
  text-align: center;
  padding: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.3);
  cursor: pointer;
  transition: transform 0.5s;
}

#testimonial .col-3:hover {
  transform: translateY(-10px);
}

#testimonial p {
  padding: 10px 0;
  font-size: 1rem;
  font-weight: normal;
  color: #505050;
}


.fa-quote-left {
  font-size: 34px;
  color: #FF9529;
}

.col-3 .testimonial-img {
  width: 50px;
  height: 50px;
  margin: 20px auto 10px;
  border-radius: 100%;
}

/* Section 6 : Brands  */

.col-5 {
  flex-basis: 20%;
}

.col-5 img{
  width: 100%;
  filter: grayscale(100%);
}

.col-5 img:hover {
  cursor: pointer;
  filter: grayscale(0);
}

/* Section 7 : Footer */

#footer {
  position: relative;
  background: #000;
  color: #8a8a8a;
  font-size: 14px;
  padding: 60px 0 20px;
}

#footer .p {
  color: #8a8a8a;
}

#footer h1 {
  margin-bottom: 20px;
}

#footer h1 {
  color: #fff;
  margin-bottom: 20px;
  font-family: 'Rubik Mono One', sans-serif;
  font-size: 35px;
  transition: color 0.5s ease-out;
}

#footer h1:hover {

 color: #b22222;
}

#footer h3 {
  color: #fff;
  padding-bottom: 20px;
}

#footer li {
  padding-top: 5px;
}

.footer-col-1, .footer-col-2, .footer-col-3, .footer-col-4 {
  min-width: 250px;
  margin-bottom: 20px;
}

.footer-col-1 {
  flex-basis: 30%;
}

.footer-col-2 {
  flex: 1;
  text-align: center;
}

.footer-col-3, .footer-col-4 {
  flex-basis: 12%;
  text-align: center;

}

ul {
  list-style-type: none;
}

.app-logo .google, .apple {
  margin-top: 20px;
  margin-right: 5px;
  width: 140px;

}

#footer hr {
  border: none;
  border-bottom-style: solid;
  border-width: 1px;
  color: #8a8a8a;
  width: 95%;
  margin: 20px auto;
}

.copyright {
  text-align: center;
  opacity: 0.5;
  letter-spacing: 1.5px;
}

.footer-link {
  color: #8a8a8a;
  text-decoration: none;

}

a.icon {
  display: none;
}





/* ---------------------------- PAGE 2 - All PRODUCTS -------------------------------- */

.row-2 {
  justify-content: space-between;
  margin: 50px auto;
}

select {
  border: 2px solid;
  padding: 5px;

}

select:focus {
  outline: none;
}

.page-btn {
  margin: 50px auto 80px;
  text-align: center;
}

.page-btn span {
  display: inline-block;
  border: 2px solid;
  margin-left: 10px;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  cursor: pointer;
  transition: background-color 0.5s ease, color 0.5s ease ;
}

.page-btn span:hover {
  background-color: black;
  color: #fff;
}

/* -------------------- Media query -------------------- */


@media (max-width: 1024px) {


  

  .row{
    text-align: center;
  }

  .col-1, .col-2, .col-3{
    flex-basis: 100%;
  }

  .col-4 {
    text-align: left;
    flex-basis: 45%;
    padding-top: 30px;
  }

  /* Section 1 */

  .col-2 img {
    margin: 30px auto;
  }

  .col-2 h1 {
    margin: 5px 20px 50px;
  }

  .col-2 p {
    padding: 10px 50px 30px ;
    color: #555555;
  }


  /* Section 2 */

  .col-3 img {
    object-fit: cover;
  }

  /* Section 3 : products */


  .col-4 img {
    margin-top: 20px;
  }

  .offer-desc {
    font-size: 0.8rem;
  }

  .offer-desc spam {
    font-size: 1.1rem;
  }

  .offer-desc spam:hover {
    font-size: 1.2rem;
  }

  .offer-detail h1 {
    font-size: 2.5rem;
    margin-top: 20px;
  }

  .offer-detail .offer-bio {
    font-size: 0.9rem;
    margin: 10px 180px 0 0;
  }


}

@media screen
  and (max-width: 780px){

    .small-container {
      padding: 0;
      margin: 0;
    }

    .container {
      padding: 0;
      margin: 0;
    }


    .row{
      margin: 0;
      padding: 0px;
      overflow:hidden;
    }

    .col-1, .col-2, .col-3, .col-4{
      flex-basis: 100%;
    }

    .col-3{
      margin: 20px;
    }

    .col-4 {
      margin-left: 17px;
    }

    /* Section 1 : Navbar and Title */

    


    #home {
      border: 0;
      padding: 0;
    }

    .col-2 img {
      width: 100%;
      border-radius: 0;
      margin: 20px 0 0;
    }

    .col-2 h1 {
      padding: 0 10px;
      margin: 20px 25px 15px;
      font-size: 2.8rem;
      line-height: 55px;
    }

    .col-2 p {
      margin: 15px 25px;
      padding: 0 10px;
      color: #555555;
    }

    /* Section 3 : products */


    .col-4 h4 {
      padding: 10px 0 5px;
    }

    .col-4 p {
      font-size: 0.95em;
      padding: 5px 0 3px;
    }

    .rating {
      font-size: 0.8rem;
    }


    /* Section 4 : Offer */

    .offer-desc {
      top: 160px;
      left: 17px;
      font-size: 0.6rem;
    }

    .offer-desc spam {
      font-size: 0.7rem;
    }

    .offer-desc spam:hover {
      font-size: 0.75rem;
    }

    .offer-detail {
      position: absolute;
      left: 13px;
      bottom: 20px;
    }

    .offer-detail h1 {
      font-size: 28px;
      margin-top: 20px;
    }

    .offer-detail .offer-bio {
      display: none;
    }

    .offer-img {
      width: 100%;
      border-radius: 0;
    }

    .buy-now-btn {
      margin-top: 3px;
      padding: 8px 12px;
      font-weight: bold;
      font-size: 0.5rem;
    }

  }

