* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-weight: normal;
  background-image: url("https://www.transparenttextures.com/patterns/cubes.png");
  --nav-load-time: 1s;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

img {
  cursor: pointer;
}

hr.dotted {
  color: #303030;
  border: none;
  border-bottom-style: dotted;
  border-width: 10px;
  width: 7%;
  margin: 90px auto;
}


/* Section-1 : Title */
.container {
  max-width: 1300px;
  margin: auto;
  padding-left: 25px;
  padding-right: 25px;
  transition: all 0.5s ease;
}

.row {
  margin: 30px 50px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
}


.col-2 {
  flex-basis: 50%;
  min-width: 300px;

}

/* button */
.sign-up,
.login,
.logout {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  display: inline-block;
  background: transparent;
  color: black;
  padding: 10px 15px;
  border: 2px solid;
  border-radius: 10px;
  outline: none;
  transition: all 0.5s ease;
}

.sign-up,
.admin {
  margin: 5px 10px 5px 0;
}

.login,
.logout {
  margin: 5px 10px;
}

.btn .sign-up:hover,
.login:hover,
.logout:hover,
.admin:hover {
  background-color: black;
  color: #fff;
  border: 2px solid black;
  outline: none;
  cursor: pointer;
}

.small-container {
  max-width: 1080px;
  padding-left: 25px;
  padding-right: 25px;
  margin: auto;
}

.col-3 {
  flex-basis: 30%;
  min-width: 250px;
}

.col-4 {
  flex-basis: 25%;
  padding-bottom: 40px;
  transition: transform 0.5s;
}

.col-5 {
  flex-basis: 20%;
}

/* -------------------- Media query -------------------- */

@media (max-width: 1024px) {

  .row {
    text-align: center;
  }

  .col-1,
  .col-2,
  .col-3 {
    flex-basis: 100%;
  }

  .col-4 {
    text-align: left;
    flex-basis: 45%;
    padding-top: 30px;
  }

}

@media screen and (max-width: 780px) {

  .small-container {
    padding: 0;
    margin: 0;
  }

  .container {
    padding: 0;
    margin: 0;
  }


  .row {
    margin: 0;
    padding: 0px;
    overflow: hidden;
  }

  .col-1,
  .col-2,
  .col-3,
  .col-4 {
    flex-basis: 100%;
  }

  .col-3 {
    margin: 20px;
  }

  .col-4 {
    margin-left: 17px;
  }

}