.prod{
    padding:0 45px;
}

.deets{
    font-size: 20px;
    padding-top: 1px;
}

.single-product{
    margin-top: 50px;
}

.single-product .col-2 .indi-img, .main-indi-img {
    padding: 0;
    box-shadow: 0px 10px 16px -7px rgba(161, 161, 161, 0.75);
}

.single-product .col-2 h1 {
    margin: 0;
    font-size: 50px;
}
.single-product .col-2 h4 {
    color: #555555;
}


.single-product .col-2 p {
    padding: 3px 0;
    font-size: 0.9rem;
    color: #555555;
}


.single-product .col-2 {
    flex-basis: 50%;
    padding: 20px;
}

.single-product h4 {
    margin: 20px 0;
    font-size: 22px;
    font-weight: bold;
}

.single-product select {
    display: block;
    padding: 10px;
    margin: 20px 0;
}

.single-product input {
    width: 50px;
    height: 40px;
    padding-left: 10px;
    font-size: 20px;
    margin-right: 10px;
    border: 1px solid #000000;
}

input:focus {
    outline: none;
}

.btn-cart {
    text-decoration: none;
    padding: 5px 15px;
    margin-left: 15px;
    border-radius: 10px;
    cursor: pointer;
    background-color: #000000 ;
    color: #fff;
    border: 2px solid #000000;
    transition: all 0.5s ease;
}

.btn-cart:hover {
    background: #b22222;
    border: 2px solid #b22222;
}

h3 {
    margin-top: 30px
}

.small-img-row {
    
    display: flex;
    justify-content: space-between;
}

.small-img-col {
    flex-basis: 30%;
    cursor: pointer;
}

.small-img-col img {
    margin: 0;
    border-radius: 15px;
}

@media screen
  and (max-width: 780px){

    .prod{
        padding: 0;
    }
    
    .single-product .col-2 .main-indi-img {
        margin-bottom: 20px;
        border-radius: 25px;
        
    }

    .single-product select {
        margin: 20px auto;
    }

  }