  .logout {
    display: inline;
  }

  .username-para {
    display: inline;
  }

  .username {
    color: #000000;
  }

  .navbar {
    position: relative;
    padding: 45px;
  }

  .navbar h1 {
    position: absolute;
    top: 45px;
    font-family: 'Rubik Mono One', sans-serif;
    font-size: 35px;
    animation: nav-h1-load var(--nav-load-time) ease-out;
    transition: color 0.5s ease-out, font-size 1s ease-out;
  }

  @keyframes nav-h1-load {
    0% {
      transform: translateX(-100%);
    }

    100% {
      transform: translateX(0);
    }
  }

  .navbar h1:hover {
    font-size: 37px;
    color: #b22222;
  }

  .navbar-icon {
    display: none;
  }


  .menu-bars {
    color: #fff;
    font-size: 1.5rem;
    background: none;
    padding-top: 6px;
  }

  .menu-bars:hover {
    color: #b22222
  }

  .nav-menu {
    text-align: right;
  }


  .nav-menu-items {
    display: inline-block;
    list-style-type: none;
    animation: nav-ul-load var(--nav-load-time) ease-out;
  }

  @keyframes nav-ul-load {
    0% {
      transform: translateX(100%);
    }

    100% {
      transform: translateX(0);
    }
  }

  .nav-text {
    display: inline-block;
    margin: 10px;
  }

  .nav-text a {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.1rem;
    font-weight: normal;
    color: black;
    text-decoration: none;
    transition: color 0.2s;
  }


  .nav-text a:hover {
    color: #b22222;
  }

  .col-2 img {
    max-width: 100%;
    height: auto;
    margin: 20px 0 20px;
    border-radius: 30px;
  }

  .col-2 h1 {
    display: inline-block;
    color: black;
    margin: 80px 50px 5px 0;
    font-size: 3.7rem;
    line-height: 60px;

  }

  .col-2 p {
    padding: 30px 70px 20px 0;
    color: #555555;
    font-size: 1rem;
    line-height: 22px;

  }


  @media (max-width: 1024px) {

    .col-2 img {
      margin: 30px auto;
    }

    .col-2 h1 {
      margin: 5px 20px 50px;
    }

    .col-2 p {
      padding: 10px 50px 30px;
      color: #555555;
    }

    .navbar {
      margin-bottom: 40px;
    }

    .nav-menu-items {
      position: relative;
      color: white;
      padding: 3px;
      text-align: center;
      text-decoration: none;
      font-size: 17px;
      display: block;
      padding: 1.5rem;
      grid-column: span 4;

    }


    .nav-text a:focus {
      user-select: none;
      -webkit-tap-highlight-color: transparent;
    }

    .navbar-icon {
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #000000;
      padding: 6px 12px;
      position: absolute;
      right: 25px;
      top: 35px;
    }

    .nav-menu {
      margin: 3.5rem 0 0;
      /* display: none; */
      display: block;
      background-color: #000000;
      width: 100%;
      overflow: hidden;
      color: white;

      /* justify-content: center;
      position: fixed;
      z-index: 5;
      right: -250px;
      transition: all 1s ease; */

      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: auto 1fr;

    }


  }

  @media screen and (max-width: 780px) {

    .navbar {
      padding: 10px 0;
    }

    .navbar h1 {
      top: 18px;
      left: 14px;
      font-family: 'Rubik Mono One', sans-serif;
      font-size: 1.75rem;
      transition: color 1s ease;
    }

    .navbar h1:hover {
      color: #b22222;
      font-size: 1.75rem;
    }

    .navbar-icon {
      right: 10px;
      top: 10px;
    }

    .nav-menu.active {
      top: 0;
      transition: all 0.5s ease;
    }

    .nav-text {
      display: block;
      margin: 0;
      padding: 15px 10px;
    }

    .nav-text a {
      color: #fff;
    }

    #home {
      border: 0;
      padding: 0;
    }

    .col-2 img {
      width: 100%;
      border-radius: 0;
      margin: 20px 0 0;
    }

    .col-2 h1 {
      padding: 0 10px;
      margin: 20px 25px 15px;
      font-size: 2.8rem;
      line-height: 55px;
    }

    .col-2 p {
      margin: 15px 25px;
      padding: 0 10px;
      color: #555555;
    }

  }