/* Section 7 : Footer */

#footer {
    position: relative;
    background: #000;
    color: #8a8a8a;
    font-size: 14px;
    padding: 60px 0 20px;
  }
  
  #footer .p {
    color: #8a8a8a;
  }
  
  #footer h1 {
    margin-bottom: 20px;
  }
  
  #footer h1 {
    color: #fff;
    margin-bottom: 20px;
    font-family: 'Rubik Mono One', sans-serif;
    font-size: 35px;
    transition: color 0.5s ease-out;
  }
  
  #footer h1:hover {
  
   color: #b22222;
  }
  
  #footer h3 {
    color: #fff;
    padding-bottom: 20px;
  }
  
  #footer li {
    padding-top: 5px;
  }
  
  .footer-col-1, .footer-col-2, .footer-col-3, .footer-col-4 {
    min-width: 250px;
    margin-bottom: 20px;
  }
  
  .footer-col-1 {
    flex-basis: 30%;
  }
  
  .footer-col-2 {
    flex: 1;
    text-align: center;
  }
  
  .footer-col-3, .footer-col-4 {
    flex-basis: 12%;
    text-align: center;
  
  }
  
  ul {
    list-style-type: none;
  }
  
  .app-logo .google, .apple {
    margin-top: 20px;
    margin-right: 5px;
    width: 140px;
  
  }
  
  #footer hr {
    border: none;
    border-bottom-style: solid;
    border-width: 1px;
    color: #8a8a8a;
    width: 95%;
    margin: 20px auto;
  }
  
  .copyright {
    text-align: center;
    opacity: 0.5;
    letter-spacing: 1.5px;
  }
  
  .footer-link {
    color: #8a8a8a;
    text-decoration: none;
  
  }

